 
<div class="flex flex-col gap-2">
    <label for="invoice-title">Title</label>
    <input id="invoice-title" name="invoice-title" type="text" placeholder="Product name">
</div>
 
<div class="flex flex-col gap-2">
    <label for="invoice-description">Description</label>
    <textarea id="invoice-description" name="invoice-description" placeholder="Your product description"></textarea>
</div>
 
<div class="flex flex-col gap-2">
    <label for="contact">Contact email</label>
    <input id="contact" name="contact" type="email" placeholder="test@email.com">
</div>
 
<div class="flex flex-col gap-2">
    <label for="invoice-logo">Logo</label>
    <input id="invoice-logo" name="invoice-logo" type="file" accept="image/*">
</div>