 
<div class="flex flex-col gap-2">
    <label for="invoice-title">Title</label>
    <input id="invoice-title" name="invoice-title" type="text" placeholder="Product name">
</div>
 
<div class="flex flex-col gap-2">
    <label for="invoice-description">Description</label>
    <textarea id="invoice-description" name="invoice-description" placeholder="Your product description"></textarea>
</div>
 
<div class="flex flex-col gap-2">
    <label for="contact">Contact email</label>
    <input id="contact" name="contact" type="email" placeholder="test@email.com">
</div>
 
<div class="flex flex-col gap-2">
    <label for="invoice-logo">Logo</label>
    <input id="invoice-logo" name="invoice-logo" type="file" accept="image/*">
</div>

<script>
    import { siteData } from '@/stores/site-data.store.ts';
    import { siteConfig } from '@/stores/config.store';

    const title = document.getElementById("invoice-title");
    const description = document.getElementById("invoice-description");
    const contact = document.getElementById("contact");

    title?.addEventListener("input", (e) => {
        const { value } = e.target! as HTMLInputElement;

        siteData.set({
            ...siteData.get(),
            title: value
        });
    });

    description?.addEventListener("input", (e) => {
        const { value } = e.target! as HTMLInputElement;


        siteData.set({
            ...siteData.get(),
            description: value
        });
    });

    contact?.addEventListener("input", (e) => {
        const { value } = e.target! as HTMLInputElement;

        siteConfig.set({
            ...siteConfig.get(),
            fromEmail: value
        });
    });

    title?.setAttribute('value', siteData.get().title);
    description!.innerHTML = siteData.get().description;
    contact?.setAttribute('value', siteConfig.get().fromEmail);
</script>